[core]
	editor = \"C:\\Users\\Sonu\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
# Virtual environments
venv/
myvenv/

# VS Code
.vscode/

# Python cache
__pycache__/
*.pyc

# Model weights
*.pth
*.pt
*.h5

# Dataset & uploads
dataset/
encodings/
uploads/
images/

# OS
.DS_Store
Thumbs.db